#autocomplete li {
  margin-bottom: 0;
  padding: 0;
}
#autocomplete li > div,
#autocomplete li > a {
  display: block;
  padding: 0.25em 0.5em;
}
tr.odd .form-item,
tr.even .form-item {
  white-space: normal;
}
.select2-container {
  min-width: 100px !important;
  max-width: 100%;
}
.page-admin-dashboard ul.admin-list li a {
  margin-left: 0;
}
.container-inline .form-item-operation {
  margin-right: 5.0em;
}
ul.media-list-thumbnails .media-thumbnail {
  width: 100px;
  height: 115px;
}
.link-field-column:first-child {
  padding-right: 10px;
}
table.sticky-header {
  z-index: 5;
}
